In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [9]:
namelists = ['Albania','Austria','Belarus',
'Belgium','Bulgaria','Croatia','Cyprus','Czech Republic','Denmark','Estonia',
'Finland','France','Germany','Greece','Hungary','Iceland','Ireland','Italy',
'Latvia','Lithuania','Luxembourg','Macedonia','Malta','Montenegro','Netherlands',
'Norway','Poland','Portugal','Romania','Russia','Serbia','Slovenia','Spain','Sweden','Switzerland','United Kingdom','Turkey','Ukraine']

In [21]:
namelists

['Albania',
 'Austria',
 'Belarus',
 'Belgium',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Ireland',
 'Italy',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Malta',
 'Montenegro',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Russia',
 'Serbia',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'United Kingdom',
 'Turkey',
 'Ukraine']

In [22]:
energy2010 = [1947,8347,3564,8369,4560,3814,4623,6348,6328,6506,16483,7736,7264,5318,3876,
51440,5911,5494,3230,3471,16830,3521,4171,5420,7010,24891,3797,4959,2551,
6410,4359,6521,5707,14934,8175,2498,3550,5701]

In [12]:
energy2012 = [2118,8507,3698,7987,4762,3819,4057,6305,6039,6689,15687,7344,7270,5511,3919,
53203,5665,5398,3588,3608,14696,3626,4761,5416,6871,23658,3899,4736,2604,
6617,4387,6778,5573,14290,7886,2794,3641,5452]

In [25]:
countries = pd.Series(namelists)

In [26]:
ener2010 = pd.Series(energy2010)
ener2012 = pd.Series(energy2012)

countries

In [29]:
countries

0            Albania
1            Austria
2            Belarus
3            Belgium
4           Bulgaria
5            Croatia
6             Cyprus
7     Czech Republic
8            Denmark
9            Estonia
10           Finland
11            France
12           Germany
13            Greece
14           Hungary
15           Iceland
16           Ireland
17             Italy
18            Latvia
19         Lithuania
20        Luxembourg
21         Macedonia
22             Malta
23        Montenegro
24       Netherlands
25            Norway
26            Poland
27          Portugal
28           Romania
29            Russia
30            Serbia
31          Slovenia
32             Spain
33            Sweden
34       Switzerland
35    United Kingdom
36            Turkey
37           Ukraine
dtype: object

In [30]:
mean2010 = ener2010.mean()

In [31]:
mean2010

7779.8421052631575

In [32]:
mean2012 = ener2012.mean()

In [33]:
mean2012

7706.815789473684

In [44]:
abovemean2010 = ener2010.where(ener2010-mean2010>0).dropna()

In [45]:
abovemean2010

1      8347.0
3      8369.0
10    16483.0
15    51440.0
20    16830.0
25    24891.0
33    14934.0
34     8175.0
dtype: float64

In [46]:
abovemean2012 = ener2012.where(ener2012-mean2012>0).dropna()

In [47]:
abovemean2012

1      8507.0
3      7987.0
10    15687.0
15    53203.0
20    14696.0
25    23658.0
33    14290.0
34     7886.0
dtype: float64

In [48]:
filtr2010 = ener2010 > mean2010
filtr2012 = ener2012 > mean2012

In [53]:
countries.where(filtr2010&filtr2012).dropna()

1         Austria
3         Belgium
10        Finland
15        Iceland
20     Luxembourg
25         Norway
33         Sweden
34    Switzerland
dtype: object