In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [5]:
age = ["do 6","7-14", "15-17","18-24","25-39","40-59","60 i wiecej"]
ile = [14,334,312,5823,9491,7486,4343]

In [6]:
age,ile

(['do 6', '7-14', '15-17', '18-24', '25-39', '40-59', '60 i wiecej'],
 [14, 334, 312, 5823, 9491, 7486, 4343])

In [7]:
wyp = pd.Series(index = age, data = ile)

In [8]:
wyp

do 6             14
7-14            334
15-17           312
18-24          5823
25-39          9491
40-59          7486
60 i wiecej    4343
dtype: int64

In [9]:
wyp.where(wyp>1000)

do 6              NaN
7-14              NaN
15-17             NaN
18-24          5823.0
25-39          9491.0
40-59          7486.0
60 i wiecej    4343.0
dtype: float64

In [14]:
wyp.where(wyp>1000, inplace = True)
wyp.dropna(inplace = True)

In [11]:
wyp

do 6             14
7-14            334
15-17           312
18-24          5823
25-39          9491
40-59          7486
60 i wiecej    4343
dtype: int64

In [13]:
wyp

do 6             14
7-14            334
15-17           312
18-24          5823
25-39          9491
40-59          7486
60 i wiecej    4343
dtype: int64

In [15]:
wyp

18-24          5823.0
25-39          9491.0
40-59          7486.0
60 i wiecej    4343.0
dtype: float64

In [16]:
incident1000 = wyp

In [17]:
incident1000

18-24          5823.0
25-39          9491.0
40-59          7486.0
60 i wiecej    4343.0
dtype: float64

In [18]:
age = ["do 6","7-14", "15-17","18-24","25-39","40-59","60 i wiecej"]
ile = [14,334,312,5823,9491,7486,4343]

In [19]:
newwyp= pd.Series(index = age, data = ile)

In [20]:
newwyp

do 6             14
7-14            334
15-17           312
18-24          5823
25-39          9491
40-59          7486
60 i wiecej    4343
dtype: int64

In [21]:
incident1000

18-24          5823.0
25-39          9491.0
40-59          7486.0
60 i wiecej    4343.0
dtype: float64

In [28]:
newwyp.filter(items = ["18-24","25-39","40-59"])
newwyp.filter()

TypeError: filter() got an unexpected keyword argument 'inplace'

In [26]:
newwyp

do 6             14
7-14            334
15-17           312
18-24          5823
25-39          9491
40-59          7486
60 i wiecej    4343
dtype: int64

In [30]:
newwyp.where(newwyp<=1000, inplace = True)
newwyp.dropna(inplace = True)

In [31]:
newwyp

do 6      14.0
7-14     334.0
15-17    312.0
dtype: float64