In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [29]:
salary = pd.read_csv("C:\ML\data\St.csv", usecols=["Salary"],squeeze=True

SyntaxError: unexpected EOF while parsing (<ipython-input-29-f2ca18697ada>, line 1)

In [40]:
Salary =pd.read_csv ("data\St.csv",usecols=["Salary"],squeeze=True

SyntaxError: unexpected EOF while parsing (<ipython-input-40-9749b01e41ba>, line 1)

In [49]:
salary = pd.read_csv("C:\ML\data\St.csv",usecols=["Salary"],squeeze=True)
salary.head(100).dropna()

2     113750.000000
14    100000.000000
17    130000.000000
18     82500.000000
22    100764.000000
25    175000.000000
34     14838.709677
36     28200.000000
37    118279.569892
52     15674.203822
54     64516.129032
57     43010.752688
61      6636.323594
64     69892.473118
65     17777.777778
69     32258.064516
70     65000.000000
72    120000.000000
75     46236.559140
76     96283.000000
81    110000.000000
83    165000.000000
89    113694.267516
90     38600.000000
95     53763.440860
97     27548.209366
99    109400.000000
Name: Salary, dtype: float64

In [52]:
len(salary.dropna())

12891

In [56]:
min(salary.dropna())

0.0

In [58]:
max(salary.dropna())

197000.0

In [60]:
salary.mean()

56298.48064062976

In [65]:
salarynna = salary.dropna()

In [66]:
list(salarynna.head())

[113750.0, 100000.0, 130000.0, 82500.0, 100764.0]

In [68]:
dict(salarynna.head())

{2: 113750.0, 14: 100000.0, 17: 130000.0, 18: 82500.0, 22: 100764.0}

In [70]:
salarySort = sorted(salarynna)

In [74]:
z = pd.Series(salarySort)

In [79]:
z.head(100)

0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
         ...
95    176.185582
96    178.784267
97    198.208780
98    198.649186
99    200.000000
Length: 100, dtype: float64

0        False
1        False
2        False
3        False
4        False
         ...
12886     True
12887     True
12888     True
12889     True
12890     True
Length: 12891, dtype: bool