In [1]:
import pandas as pd

In [45]:
sur = pd.read_csv("C:\ML\data\St.csv", usecols = ['Salary'], squeeze = True, low_memory= False)

In [46]:
sur = sur.dropna()

In [4]:
sur

2        113750.000000
14       100000.000000
17       130000.000000
18        82500.000000
22       100764.000000
             ...
51371     74193.548387
51378    107526.881720
51382     32258.064516
51387     58000.000000
51390     40000.000000
Name: Salary, Length: 12891, dtype: float64

In [5]:
sur.values

array([113750.        , 100000.        , 130000.        , ...,
        32258.06451613,  58000.        ,  40000.        ])

In [6]:
sur.size

12891

In [8]:
len(sur)

12891

In [9]:
surnew = sur * 1.03

In [10]:
surnew

2        117162.500000
14       103000.000000
17       133900.000000
18        84975.000000
22       103786.920000
             ...
51371     76419.354839
51378    110752.688172
51382     33225.806452
51387     59740.000000
51390     41200.000000
Name: Salary, Length: 12891, dtype: float64

In [39]:
def rise (x):
    if x > 0:
        return 1.09*x
    else:
        return 0

In [40]:
sur.apply(rise)

2        123987.500000
14       109000.000000
17       141700.000000
18        89925.000000
22       109832.760000
             ...
51371     80870.967742
51378    117204.301075
51382     35161.290323
51387     63220.000000
51390     43600.000000
Name: Salary, Length: 12891, dtype: float64

In [47]:
sur

2        113750.000000
14       100000.000000
17       130000.000000
18        82500.000000
22       100764.000000
             ...
51371     74193.548387
51378    107526.881720
51382     32258.064516
51387     58000.000000
51390     40000.000000
Name: Salary, Length: 12891, dtype: float64

In [54]:
surTime = pd.read_csv("C:\ML\data\StackOverflowDeveloperSurvey2018.csv", usecols = ['HoursOutside'], low_memory = False,squeeze = True)

In [56]:
surTime

0                 1 - 2 hours
1             30 - 59 minutes
2                         NaN
3        Less than 30 minutes
4                 1 - 2 hours
                 ...
98850                     NaN
98851                     NaN
98852                     NaN
98853                     NaN
98854                     NaN
Name: HoursOutside, Length: 98855, dtype: object

In [76]:
x =surTime.value_counts()

In [65]:
w = surTime.str.lower()

In [67]:
w.value_counts()

1 - 2 hours             27788
30 - 59 minutes         24002
less than 30 minutes    11223
3 - 4 hours              7186
over 4 hours             1825
Name: HoursOutside, dtype: int64

In [69]:
upp = w.str.upper()
upp

0                 1 - 2 HOURS
1             30 - 59 MINUTES
2                         NaN
3        LESS THAN 30 MINUTES
4                 1 - 2 HOURS
                 ...
98850                     NaN
98851                     NaN
98852                     NaN
98853                     NaN
98854                     NaN
Name: HoursOutside, Length: 98855, dtype: object

In [79]:
sTime = surTime.apply(lambda des: des.upper())

AttributeError: 'float' object has no attribute 'upper'

In [77]:
surTime

0                 1 - 2 hours
1             30 - 59 minutes
2                         NaN
3        Less than 30 minutes
4                 1 - 2 hours
                 ...
98850                     NaN
98851                     NaN
98852                     NaN
98853                     NaN
98854                     NaN
Name: HoursOutside, Length: 98855, dtype: object

In [81]:
surTime.type()

AttributeError: 'Series' object has no attribute 'type'

In [85]:
pdser = pd.Series(surTime)

pandas.core.series.Series

In [86]:
pdser.dtype

dtype('O')

In [87]:
sTime = pdser.apply(lambda des: des.upper())

AttributeError: 'float' object has no attribute 'upper'