In [43]:
import pandas as pd
import numpy as np

In [58]:
prog = pd.read_csv("C:\ML\data\StackOverflowDeveloperSurvey2018.csv", low_memory = False, usecols = ['ConvertedSalary'],squeeze = True)

In [59]:
prog

0            NaN
1        70841.0
2            NaN
3            NaN
4        21426.0
          ...
98850        NaN
98851        NaN
98852        NaN
98853        NaN
98854        NaN
Name: ConvertedSalary, Length: 98855, dtype: float64

In [60]:
prog.mean()

95780.86178776571

In [61]:
dna = prog.dropna().mean()

In [62]:
pd.Series(dna)

0    95780.861788
dtype: float64

In [63]:
pd.Series(prog).dropna()

1         70841.0
4         21426.0
5         41671.0
6        120000.0
8        250000.0
           ...
89941         0.0
89946         0.0
89954     10284.0
89960         0.0
89965         0.0
Name: ConvertedSalary, Length: 47702, dtype: float64

In [64]:
prog.median()

55075.0

In [65]:
prog.std()

202348.21562528735

In [26]:
prog.max()

2000000.0

In [27]:
prog.min()

0.0

In [55]:
fortune = pd.read_csv("C:\ML\data\Fortune_500_2017.csv", usecols = ['Title','Employees'], index_col = ['Title'],squeeze = True )

In [56]:
fortune

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
                       ...
Michaels Cos.           31000
Toll Brothers            4200
Yahoo                    8500
Vistra Energy            4431
ABM Industries         110000
Name: Employees, Length: 500, dtype: int64

In [47]:
fortune.values

array([2300000,  367700,  116000,   72700,   68000,  230000,  204000,
        225000,  268540,  201000,   18500,  341400,  295000,  160900,
         37300,  172000,  300000,  443000,   55200,    7000,  243355,
         25600,  406000,  150540,  269100,  208024,   72053,  114000,
         53000,  219000,  159000,  414400,   68234,   14800,  126400,
        105000,    9996,  323000,    5982,  240000,  138000,   58000,
         49500,  264000,   31800,  335520,  106000,   49739,  274000,
        201600,   44460,  195000,   51600,   96500,   56400,   97000,
         51900,  335767,  195000,   73700,   49000,   56000,  210500,
        100300,   11320,   30500,  122300,   34320,   68000,   41000,
         83756,  125000,  131000,   95400,   50000,   55311,   11737,
         34400,   30992,   12997,  136000,  114000,   88000,   43275,
        191000,   56400,  235000,   70700,   34396,   98800,   70580,
          9000,   12157,   91584,   25000,   91500,    5646,   17048,
         30900,   47300,   21500,   29943,    5000,   79500,   56767,
         41000,    9500,   17700,   90000,  148300,   30000,  375000,
         46000,   67000,   13300,   63000,    6308,   18700,   30500,
         31721,   28798,    6800,   19200,   25000,   71191,   10212,
        140000,  121000,   26000,  108000,  254000,   41975,   55000,
        116475,   75000,  116050,   93000,   53536,  103500,   61503,
          5100,   24000,   42919,   62000,   32015,   28000,   25000,
          8300,   61551,   85000,  148400,  138000,   16900,   54800,
         42000,   21000,   24000,   38000,   55400,   40000,   87000,
        133600,  226500,   23000,   39000,   50683,   17634,   90980,
         23900,   14700,   13000,    3165,   50000,   22429,   30000,
         73515,   52000,  135000,   78500,   40000,   70300,   36700,
         47000,   66000,   15000,   16000,   14200,   72500,    1464,
         39000,   87000,  217250,   18410,   19000,    7400,   15707,
         20900,  110000,    8516,   36000,   41200,   50000,   38000,
         22450,  260200,   29865,    9057,   53400,   10000,   60000,
         47565,   14125,   15800,   75000,   11121,   37369,   72878,
          8876,   78600,   59100,  106000,   13309,    5525,    9650,
         50928,   31400,   14854,   41500,    8763,   69000,    3545,
          6976,   62000,   14960,   12390,   42550,    3200,   16200,
         13195,   57000,  169000,   24000,   21000,   64000,   37500,
          2371,    7688,    7400,   49000,   54023,   48950,   33000,
         46000,    7132,   13000,   11476,   26628,    9400,   49350,
          8335,   13500,   13000,   13513,   18100,   16150,    6700,
         11900,   18500,   21080,   66780,   33783,   10000,   38000,
          2676,   26498,   70863,   15549,   11000,   29800,   16575,
         48000,   25000,   65900,   27856,   33000,    7600,    9800,
          7900,   15000,   52000,    6600,   57500,   55219,   18450,
         21100,   36000,   66500,   40700,   33000,   14000,   55000,
          3628,   24375,   42500,   27000,   18450,   12380,   13065,
         14000,   12600,   37800,    2384,   28332,    3850,   10471,
          3282,   20075,   11170,   25600,   14500,   41750,   31000,
         58397,   20000,    9554,   25000,   27000,   12438,    3400,
         11500,    8700,   24000,   23992,    1770,   26650,   12600,
         11300,    8700,   16500,   27550,   10400,    5732,    3300,
          4500,   49800,    6910,    7695,   32965,    7134,   11500,
         17000,   18500,    4623,    7608,   28100,    2650,   16200,
          7762,    8900,   31000,   14700,    7727,   21000,   14000,
         12689,   43000,    5604,    8074,   17140,   19795,   20500,
         26000,    9000,   47000,   36384,   76650,    8700,   17000,
         59000,   37000,   32000,    4988,   30025,   41000,  150942,
         26000,   10299,   44360,   17844,   50000,   77300,   29000,
         14400,   34500,      83,   19500,   23000,    4737,  420000,
          2372,   27000,    1970,   43000,   15986,    9059,    9500,
         22190,    9000,   33500,    7900,    7600,    7000,   21000,
         40178,    3055,   20000,   30800,   16021,    7750,    8500,
         14000,   90000,   24724,   62000,   13800,   18700,   16027,
          3420,   16000,   25000,    8629,   67800,   14000,   18000,
          6000,   22166,    5631,   19112,    8500,    7500,    8500,
         22000,   15706,   26400,   18100,    4900,   24900,   11800,
          4507,   14000,   17600,   12500,    8000,   82000,   16487,
         11000,   13105,   16000,   20000,   10900,   37800,   24790,
         40000,   19531,   11000,    7000,    6400,   12030,   11900,
         20259,   23000,     220,    5930,   32000,    8000,    4754,
          4050,   10700,   15700,    1326,   22600,    7000,    2178,
          7293,   11870,   11781,    6600,    3727,   17000,    7500,
          3626,   19000,   16400,   20000,   23150,   31000,    4200,
          8500,    4431,  110000], dtype=int64)

In [70]:
x = fortune.idxmax()

In [71]:
x

'Walmart'

In [78]:
y =fortune.loc[fortune.idxmax()]

In [81]:
y

2300000

In [83]:
fortune.loc()