In [1]:
import pandas as pd

In [3]:
fuel = pd.read_csv("C:\ML\paliwo.csv", low_memory=True, usecols = ['Vehicle ID','Make','Model','Class','Fuel Type', 'Combined MPG (FT1)'])

In [4]:
fuel.head()

,Vehicle ID,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [5]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 6 columns):
Vehicle ID            31684 non-null int64
Make                  31684 non-null object
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.5+ MB

In [9]:
fuel.dtypes

Vehicle ID              int64
Make                   object
Model                  object
Class                  object
Fuel Type              object
Combined MPG (FT1)    float64
dtype: object

In [11]:
fuel.get_dtype_counts()

C:\ML\pandas\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  """Entry point for launching an IPython kernel.

float64    1
int64      1
object     4
dtype: int64

In [15]:
fuel['Make'].value_counts().head(24)

Chevrolet        3389
Ford             2721
Dodge            2361
GMC              2174
Toyota           1599
BMW              1180
Nissan           1082
Mercedes-Benz     948
Mitsubishi        937
Pontiac           893
Volkswagen        859
Mazda             841
Honda             752
Subaru            708
Audi              688
Jeep              685
Chrysler          647
Volvo             645
Mercury           609
Buick             543
Porsche           543
Plymouth          526
Suzuki            478
Hyundai           464
Name: Make, dtype: int64

In [17]:
fuel.index

RangeIndex(start=0, stop=31684, step=1)

In [18]:
fuel.columns

Index(['Vehicle ID', 'Make', 'Model', 'Class', 'Fuel Type',
       'Combined MPG (FT1)'],
      dtype='object')

In [19]:
fuel.values

array([[26587, 'Alfa Romeo', 'GT V6 2.5', 'Minicompact Cars', 'Regular',
        20.0],
       [27705, 'Alfa Romeo', 'GT V6 2.5', 'Minicompact Cars', 'Regular',
        20.0],
       [26561, 'Alfa Romeo', 'Spider Veloce 2000', 'Two Seaters',
        'Regular', 21.0],
       ...,
       [32065, 'Mitsubishi', 'Lancer Evolution', 'Compact Cars',
        'Premium', 19.0],
       [32064, 'Mitsubishi', 'Lancer Evolution', 'Compact Cars',
        'Premium', 19.0],
       [32106, 'Mitsubish', nan, nan, nan, nan]], dtype=object)