In [3]:
import pandas as pd

fuel = pd.read_csv("C:\ML\paliwo.csv",low_memory=False, usecols =['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'], )

In [4]:
fuel

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
...,...,...,...,...,...,...,...
31679,32060,2012,Mitsubishi,Lancer,Compact Cars,Regular,25.0
31680,32063,2012,Mitsubishi,Lancer AWD,Compact Cars,Regular,25.0
31681,32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0
31682,32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0
31683,32106,2012,Mitsubish,NaN,NaN,NaN,NaN

In [5]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
Vehicle ID            31684 non-null int64
Year                  31684 non-null int64
Make                  31684 non-null object
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.7+ MB

In [7]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
Vehicle ID            31684 non-null int64
Year                  31684 non-null int64
Make                  31684 non-null object
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: float64(1), int64(2), object(4)
memory usage: 8.9 MB

In [8]:
fuel['Year'] = fuel['Year'].astype('int')

In [9]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
Vehicle ID            31684 non-null int64
Year                  31684 non-null int32
Make                  31684 non-null object
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: float64(1), int32(1), int64(1), object(4)
memory usage: 8.8 MB

In [21]:
fuel['Model'].value_counts().head

<bound method NDFrame.head of F150 Pickup 2WD              194
Truck 2WD                    187
F150 Pickup 4WD              172
Ranger Pickup 2WD            169
Mustang                      156
                            ...
LLV                            1
C350 Coupe                     1
C320 4matic Sedan              1
500 Cabrio                     1
Sport Van G30 2WD (cargo)      1
Name: Model, Length: 2957, dtype: int64>

In [22]:
fuel['Model'].astype= ('category')

In [25]:
fuel['Model']=fuel['Model'].astype('category')

TypeError: 'str' object is not callable

In [20]:
fuel2 = fuel.info(memory_usage='deep')

TypeError: 'str' object is not callable